.sidebar{
  text-align: right;
  padding: 192px 16px 16px 16px;
  width: 200px;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.nav-item{
  margin: 6px 0;
  letter-spacing: 1px;
}

.nav-item.selected a{
  color: #000;
  font-weight: 700;
}

.logo img{
 width: 128px;
 margin: 0 0 48px 0;
}

.name{
 font-size: 32px;
}

.sidebar p{
 margin: 8px 0 0 0;
}
