body{
  margin: 0;
  font-size: 24px;
  font-family: 'Barlow';
}

*{
  box-sizing: border-box;
}

a{
  color: #0085FF;
  text-decoration: none;
}

 .container{
   max-width: 1200px;
   margin: 0 auto;
   min-height: 100vh;
 }

 p{
   line-height: 1.4;
 }

 .divider{
   width: 64px;
   height: 4px;
   background-color: #546e8d;
   margin: 48px 0;
 }

 .small-head{
   text-transform: uppercase;
   letter-spacing: 3px;
   font-weight: 900;
   padding: 64px 0 32px 0;
 }

 div.small-head:first-of-type{
   padding-top: 192px;
 }

.content-container{
  width: 100%;
  padding-left: 264px;
  min-height: 100vh;
  padding-right: 64px;
}

.content-container-inner{
  max-width: 900px;
  margin: 0 auto;
}

.hero-text{
  font-family: 'Playfair Display';
  font-size: 48px;
  line-height: 1.4;
  max-width: 764px;
  margin: 64px 0;
}

.hero-video{
  width: 100%;
  position: relative;
  margin: 32px 0;
}

.video-container{
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.video-container iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

.projects{
  display: flex;
  flex-flow: row wrap;
}

.project-item{
  flex-basis: 50%;
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 16px 8px;
}

.project-item img{
  width: 100%;
  padding-bottom: 8px;
}

.project-item h2{
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.project-item p{
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}
